.site-header {
    display: grid;
    grid-template-columns: var(--grid-container-header);
    position: absolute;
    width: 100%;
    height: 177px;

    &__inner {
        grid-column: inner;
        display: flex;
        z-index: 92;
        justify-content: flex-end;
        align-items: center;
    }


    &__logo {
        display: none;
    }

    
}

@media screen and (max-width: 768px) {

    .site-header {
        height: 96px;
    }
    
}

.scen-header {
    display: grid;
    grid-template-columns: var(--grid-container-header);
    position: absolute;
    width: 100%;
    height: 177px;

    &__inner {
        grid-column: inner;
        display: flex;
        z-index: 92;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: var(--gap-l);
    }

    &__title {
        font-size: clamp(1.5rem, 0.0497rem + 6.1878vw, 5rem);
    }
}

@media screen and (max-width: 600px) {
    .scen-header {
        
        &__title {
            display: none;
        }
    }    
}

.location-header {
    display: grid;
    grid-template-columns: var(--grid-container-header);
    position: absolute;
    width: 100%;
    height: 177px;

    &__inner {
        grid-column: inner;
        display: flex;
        z-index: 92;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: var(--gap-l);
    }

    &__title {
        font-size: clamp(1.5rem, 0.0497rem + 6.1878vw, 5rem);
    }
}

@media screen and (max-width: 600px) {
    .location-header {
        
        &__title {
            display: none;
        }
    }    
}

.drinks-header {
    display: grid;
    grid-template-columns: var(--grid-container-header);
    position: absolute;
    width: 100%;
    height: 177px;

    &__inner {
        grid-column: inner;
        display: flex;
        z-index: 92;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: var(--gap-l);
    }

    &__title {
        font-size: clamp(1.5rem, 0.0497rem + 6.1878vw, 5rem);
    }
}

@media screen and (max-width: 600px) {
    .drinks-header {
        
        &__title {
            display: none;
        }
    }    
}

.menu {

    &__button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        svg {
            height: 32px;
        }
    }
    
    &__scroll-button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        
        svg {
            height: 32px;
        }
    }
}
